.margin-bottom{
	margin-bottom: 15px;
}
.margin-top{
	margin-top: 15px;
}
.margin-left{
	margin-left: 10px;
}
.margin-right{
	margin-right: 15px;
}
.height-40{
	height: 40px;
}
.height-50{
	height: 50px;
}
.padding-top-15{
	padding-top: 15px;
}
.padding-top-8{
	padding-top: 8px;
}
.padding-top-1{
	padding-top: 1px;
}
.font-size-6{
	font-size: 6px;
}
.dot-espacement{
	 height: 15px; 
	 margin-left: 4px;

}
.display-inherit{
	display: inherit;
}

#default-langue{
	background-color: #CCDCE8;
	padding: 3px;
}
html, body
{
    /*height: 100%;*/
    overflow: hidden;
}
#changeLog
{
    overflow:hidden;
    overflow-y:scroll; 
}

.buttonPropertyActive{
	color:#fff;
	background-color:#22abd4;
}

.buttonPropertyNonActive{
	color:#22abd4;
	background-color:#fff;
	cursor : pointer;
}

.buttonPropertyNonActive:hover{
	background-color: #eeeeee;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 120vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.spanFormulaDatapoints{
	padding-left: 5px;
	padding-right: 5px;
	background-color: #fff;
	color:#22abd4;
	margin-left: 5px;
}

.inputLine{
	-webkit-box-shadow: inset 0 -1px 0 #dddddd;
	box-shadow: inset 0 -1px 0 #dddddd;
}

.buttonClickable{
	cursor:pointer;
}

.buttonClickable:hover{
	background-color: #eeeeee;
}

#buttonSave {
	margin-top: 76px;
  }

.bold{
	font-weight: bold;
}

.grey-color{
	color:#666;
}

#list-elements::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
#list-elements::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

