<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	

	<link href="../css/bootstrap.min.css" 	rel="stylesheet">
    <link href="../css/design.css" 		rel="stylesheet">

	<script src="../js/graphical-node.js"></script>
	<script src="../js/control.js"></script>
	<script src="../js/library.js"></script>
	<script src="../js/utils.js"></script>
	<script src="../js/walk.js"></script>
	<script src="../js/datapoints.js"></script>
	<script src="../js/traduction.js"></script>

	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>


	<!-- Associated JS controller -->
	<script src="../js/calculator-direct.js"></script>
</head>

<body style="overflow:auto;height: 100%;">
	<div class="row margin-left">
		<div class="row">
			<div class="col-sm-2">
				<label class="control-label" id="labelLangue">Langue : </label>
			</div>
			<div class="col-sm-10">
				<select name="langues" id="langues" class="form-control">
					<option value="">Select a langue</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<label class="control-label" id="labelTypeOfWork">Type of work : </label>
			</div>
			<div class="col-sm-10">
				<select name="typeOfWork" id="typeOfWork" class="form-control">
					<option value="">Select type of work</option>
				</select>
			</div>
		</div>
		<div id="forms">
		</div>
		<div class="row">
				<div class="col-sm-12">
					<input type="button" name="submit" value="Submit" class="btn btn-primary" onclick="submit();" />
				</div>
			</div>
			<div class="alert alert-dismissable alert-warning margin-top" style="display:none;">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<h4>Warning!</h4>
				<p id="error"></p>
			</div>
			<div class="alert alert-dismissable alert-success margin-top" style="display:none;">
		  		<button type="button" class="close" data-dismiss="alert">×</button>
		  		<p id="result"></p>
			</div>
			<div class="alert alert-dismissable alert-danger margin-top" style="display:none;">
		  		<button type="button" class="close" data-dismiss="alert">×</button>
		  		<p id="resultdanger"></p>
			</div>
	</div>
</body>

</html>